<ion-header>
  <ion-toolbar color="success">

    <ion-buttons slot="start">
        <ion-back-button text=" " defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-thumbnail slot="end"><img src="../assets/icon/logoLiga.png"></ion-thumbnail>
    <ion-title size="undefined" style="font-family:Times" align="center">Perfil</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      
        <ion-label><h1 text-center>PERFIL DEL ARBITRO</h1></ion-label>
        
       <ion-grid>
         
        <ion-row>
          <ion-col size="3"></ion-col>
            <ion-col size="6">
              <ion-card> 
                        <img [src]="url+fotoss" >
              </ion-card>
            </ion-col>
            <ion-col size="3"></ion-col>
          </ion-row>

       </ion-grid>
         
  
  
      <ion-item >
         <ion-label>NOMBRE: {{nombre}} {{apellido}} </ion-label>
            
       </ion-item>
       <ion-item>
         <ion-label >CEDULA: {{cedula}}</ion-label>
        
       </ion-item>
       <ion-item>
         <ion-label>DIRECCIÓN:</ion-label>
         <ion-input type="text" [(ngModel)]="direccion"></ion-input>
         
       </ion-item>
       <ion-item>
         <ion-label>TELEFONO: </ion-label>
         <ion-input type="text" maxlength="9" [(ngModel)]="telefono"></ion-input>
       </ion-item>
       <ion-item>
         <ion-label>CELULAR: </ion-label>
         <ion-input type="text" [(ngModel)]="celular"></ion-input>
       </ion-item>
       <ion-item>
         <ion-label>CORREO: </ion-label>
         <ion-input type="text" [(ngModel)]="correo"></ion-input>
       </ion-item>
     
    </ion-list>
       
  </ion-card>
  <ion-button expand="block" fill="outline" type="submit" color="success" (click)="actArbitro()">EDITAR DATOS</ion-button>
 
</ion-content>
