<ion-header>
  <ion-toolbar color="success">

    <ion-buttons slot="start">
        <ion-back-button text=" " defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="end"><img src="../assets/icon/logoLiga.png"></ion-avatar>
    <ion-title size="undefined" style="font-family:Times" align="center">Perfil</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      
        <ion-label><h1 text-center>PERFIL DEL ARBITRO</h1></ion-label>
        
       <ion-grid>
         <ion-row>

           <ion-col size="3"></ion-col>
           <ion-col size="6"> <img [src]="url+fotoss" ></ion-col>
           <ion-col size="3" ></ion-col>
          
        </ion-row>
       </ion-grid>
         
  
  
      <ion-item>
         <ion-label>NOMBRE: {{nombre}} {{apellido}} </ion-label>
            
       </ion-item>
       <ion-item>
         <ion-label >CEDULA: {{cedula}}</ion-label>
        
       </ion-item>
       <ion-item>
         <ion-label>DIRECCIÓN: {{cedula}} </ion-label>
         
       </ion-item>
       <ion-item>
         <ion-label >TELEFONO: {{telefono}}</ion-label>
       
       </ion-item>
       <ion-item>
         <ion-label>CELULAR: {{celular}} </ion-label>
         
       </ion-item>
       <ion-item>
         <ion-label>CORREO: {{correo}} </ion-label>
         
       </ion-item>
  
    </ion-list>
       
  </ion-card>

 
</ion-content>
