<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=" " defaultHref="/calendario"></ion-back-button>
  </ion-buttons>
  <ion-thumbnail slot="end"><img src="../assets/icon/logoLiga.png"></ion-thumbnail>
    <ion-title size="undefined" style="font-family:Times" align="center">Ingreso del informe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-toolbar>
  <ion-thumbnail slot="start"><img src="../assets/icon/logoLiga.png"></ion-thumbnail>
    
    <ion-title size="small" style="font-family:Times" align="center">LIGA DEPORTIVA CANTONAL PILLARO</ion-title>
    <br>
    <ion-title size="small" style="font-family:Times" align="center">INFORME DE ÁRBITRO</ion-title>
  </ion-toolbar>
  <ion-card> 
<ion-grid>
  <ion-label style="display:none;" >{{idarbitros}}</ion-label>
<ion-row style="background-color: rgb(236, 250, 255);"><ion-col text-center>
  
  <ion-label text-center><b>FECHA DEL PARTIDO: {{fecha}}</b></ion-label>

</ion-col></ion-row>
<ion-row style="background-color: rgb(236, 250, 255);"><ion-col text-center>
  <ion-label text-center><b>ESTADIO: {{nombre_cancha}}</b></ion-label>
</ion-col></ion-row>

  <ion-row style="background-color: rgb(156, 217, 238);">
       
    <ion-col text-center size="5"><b>EQUIPO 1</b></ion-col>
    <ion-col text-center size="2"></ion-col>
    <ion-col text-center size="5"><b>EQUIPO 2</b></ion-col>
    
  
  </ion-row>
  
  <ion-row style="background-color: rgb(236, 250, 255);">
    <ion-col text-center size="5">{{equipo1}}</ion-col>
    <ion-col text-center size="2"></ion-col>
    <ion-col text-center size="5">{{equipo2}}</ion-col>
   
  </ion-row>

  <ion-row style="background-color: rgb(156, 217, 238);">
       
    <ion-col text-center size="5"><b>MARCADOR</b></ion-col>
    <ion-col text-center size="2"></ion-col>
    <ion-col text-center size="5"><b>MARCADOR</b></ion-col>
    
  
  </ion-row>
  <ion-row style="background-color: rgb(236, 250, 255);">
    <ion-col text-center size="5">{{resultado1}}</ion-col>
    <ion-col text-center size="2"> </ion-col>
    <ion-col text-center size="5">{{resultado2}}</ion-col>
   
  </ion-row>
  <ion-row style="background-color: rgb(156, 217, 238);">
       
    <ion-col text-center size="5"><b>RESULTADO</b></ion-col>
    <ion-col text-center size="2"></ion-col>
    <ion-col text-center size="5"><b>RESULTADO</b></ion-col>
    
  
  </ion-row>
  <ion-row style="background-color: rgb(236, 250, 255);">
    <ion-col  size="5" text-center>{{puntos1}}</ion-col>
    <ion-col size="2"></ion-col>
    <ion-col  size="5" text-center>{{puntos2}}</ion-col>
   
  </ion-row>

  <!-- goles -->

  <!-- <ion-row style="background-color: rgb(156, 217, 238);">

    <ion-col text-center ><b>GOLES DEL PARTIDO</b></ion-col>     
  </ion-row>

  <ion-row style="background-color: rgb(156, 217, 238);">
    <ion-col text-center size="5"><b>EQUIPO 1</b></ion-col>
    <ion-col text-center size="2"></ion-col>
    <ion-col text-center size="5"><b>EQUIPO 2</b></ion-col>
  </ion-row>

  <ion-row style="background-color: rgb(236, 250, 255);"> -->

    <!-- goles equipo 1 -->
  <!--  <ion-col size="5">
    <ion-row  *ngFor="let item of golesequipo1">
      <ion-col>
      
        <ion-row >
          <ion-col  text-center size="small">
            {{item.nombre}}
          </ion-col>
         
        </ion-row>

    </ion-col>
    </ion-row>
  </ion-col>
  <ion-col size="2"></ion-col> -->

<!-- goles EQUIPO 2 -->
 <!--  <ion-col size="5">
    <ion-row>
      <ion-col>
      
        <ion-row  *ngFor="let item of golesequipo2">
          <ion-col  text-center size="small">
              {{item.nombre}}
          </ion-col>
        
        </ion-row>
    </ion-col>
    </ion-row>
  </ion-col>
  </ion-row> -->

    <!-- fin goles -->

<!-- faltas -->
  <ion-row style="background-color: rgb(156, 217, 238);">

    <ion-col text-center ><b>TARJETAS DEL PARTIDO</b></ion-col>     
  </ion-row>

  <ion-row style="background-color: rgb(156, 217, 238);">
    <ion-col text-center size="5"><b>EQUIPO 1</b></ion-col>
    <ion-col text-center size="2"></ion-col>
    <ion-col text-center size="5"><b>EQUIPO 2</b></ion-col>
  </ion-row>

  <ion-row style="background-color: rgb(236, 250, 255);">

    <!-- faltas equipo 1 -->
   <ion-col size="5">
    <ion-row  *ngFor="let item of falatsequipo1">
      <ion-col>
      
        <ion-row >
          <ion-col  text-center size="small">
            {{item.nombre}}
          </ion-col>
          <ion-col  text-center  size="small">
            {{item.nombrefalta}}
          </ion-col>
        </ion-row>

    </ion-col>
    </ion-row>
  </ion-col>
  <ion-col size="2"></ion-col>

<!-- FALTAS EQUIPO 2 -->
  <ion-col size="5">
    <ion-row>
      <ion-col>
      
        <ion-row  *ngFor="let item of faltasequipo2">
          <ion-col  text-center size="small">
            {{item.nombre}}
          </ion-col>
          <ion-col  text-center size="small">
            {{item.nombrefalta}}
          </ion-col>
        </ion-row>
    </ion-col>
    </ion-row>
  </ion-col>
  </ion-row>

  <!-- fin faltas -->

  <ion-row >

    <ion-item >
      <ion-label position="floating">OBSERVACIONES</ion-label>
      <ion-textarea  name="comentarios" rows="10" cols="40" [(ngModel)]="informe"></ion-textarea>
    </ion-item>

  </ion-row>

  </ion-grid>



   
  </ion-card>
    <ion-button color="success" expand="block" fill="outline" type="submit"  (click)="insertarInforme()">GUARDAR INFORME</ion-button>
<!-- <ion-grid>
  <ion-row>
    <ion-col>
      <ion-button color="danger"  expand="block" fill="outline" type="submit" routerLink="/editargoles" > GOLES </ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="danger" expand="block" fill="outline" type="submit" routerLink="/editarfaltas" > TARJETAS </ion-button>
    </ion-col>
    
  </ion-row>
</ion-grid> -->
</ion-content>
