<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=" " defaultHref="/inicio"></ion-back-button>
  </ion-buttons>
    <ion-avatar slot="end"><img src="../assets/icon/logoLiga.png"></ion-avatar>
    <ion-title size="undefined" style="font-family:Times" align="center">Ingreso del informe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
<ion-grid>

  <ion-row >
    <ion-col text-center>
      <b >EQUIPOS</b>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col text-center>
       <ion-label text-center >{{equipo1}}</ion-label>
    </ion-col>
  <ion-col text-center> 
        <ion-label>{{equipo2}}</ion-label>
    </ion-col>
  </ion-row>

  <ion-row >
    <ion-col text-center>
      <b >MARCADOR</b>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col text-center>
      
     {{resultado1}}
    </ion-col>
    <ion-col text-center>
      
     {{resultado2}}
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col text-center>
      <b >RESULTADO</b>
    </ion-col>
    
  </ion-row>
  <ion-row>
    <ion-col text-center>
     {{puntos1}}
    </ion-col>
    <ion-col text-center>
     {{puntos2}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-list>  <ion-col text-center>
      <ion-item *ngFor="let item of falatsequipo1">
        <ion-row>
          {{item.nombre}}
        </ion-row>
        <ion-row>
          {{item.nombrefalta}}
        </ion-row>
       
    </ion-item>
    </ion-col></ion-list>
    <ion-list><ion-col text-center>


      <ion-item *ngFor="let item of faltasequipo2">
        <ion-row>
          {{item.nombre}}
        </ion-row>
        <ion-row>
          {{item.nombrefalta}}
        </ion-row>
      </ion-item>
          
          </ion-col></ion-list>
  


  </ion-row>
</ion-grid>

    <ion-item>
      <ion-label position="floating">INGRESAR INFORME</ion-label>
      <ion-textarea name="comentarios" rows="10" cols="40" [(ngModel)]="informe"></ion-textarea>
     
    </ion-item>
  </ion-card>
    <ion-button  expand="block" fill="outline" type="submit"  (click)="insertarInforme()">GUARDAR</ion-button>

</ion-content>
