.login-background{
    --background: url('../../../assets/icon/lo.png');
}
   
   .login-background2{
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(9.161069869995117px);
    --webkit-backdrop-filter: blur(9.161069869995117px);
    background-color: rgba(0,0,0,0.17);
  }
  .img{
   width: 60%;
    height: 60%; 
    margin: auto;
    position: center;
    top: 2px;
    }
    
      