<ion-header>
  <ion-toolbar color="success">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
     <h5>
      <ion-title  size="small" style="font-family:Times" align="center">Liga Deportiva Cantonal Pillaro</ion-title>
     </h5>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <img src="../assets/icon/logoLiga.png" >

    <h4 align="center">
        La Liga Deportiva Cantonal Píllaro fue creada el 20 de octubre de 1944
     </h4>
 
     <p class="text-center" align="justify">
     Ofrecer a la comunidad pillareña un programa anual deportivo,
     mediante la formación integral de deportistas en las diferentes disciplina, 
     fomentando el deporte formativo a través de las escuelas permanentes y campeonatos
    </p>
    
</ion-content>