<ion-header>
  <ion-toolbar color="success">
     
   <ion-buttons slot="start">
            <ion-back-button text=" " defaultHref="/equipos"></ion-back-button>
        </ion-buttons>
        <ion-thumbnail slot="end"><img src="../assets/icon/logoLiga.png"></ion-thumbnail>
        <ion-title size="undefined" style="font-family:Times" align="center">Tarjetas del Equipo</ion-title>
  </ion-toolbar>
 <!-- BUSCAR POR FALTAS -->
 <ion-toolbar>
    <ion-searchbar animated placeholder="Buscar por tipo de tarjeta"
    (ionChange)="buscar($event)">
    </ion-searchbar>
 </ion-toolbar>

</ion-header>
<ion-content>
   
   <ion-list>
     <ion-card *ngFor="let item of liga | buscador:buscarFalta: 'nombrefalta'">
      <ion-grid>
         <ion-row>
            <ion-col size="2">
             
               <ion-img [src]="url+item.fotos"></ion-img>
            
              
            </ion-col>
            <ion-col size="10">
              <ion-label class="ion-text-wrap">
               <ion-text text-center color="primary">
                 <h2 >{{item.nombreJ}}</h2>
                </ion-text>

          <ion-grid>
           
           <ion-row>
              <ion-col text-center>
               <ion-text color="dark">
                  T. Amarillas
               </ion-text>
               </ion-col>
              <ion-col text-center>
               <ion-text color="dark">
                  T. Rojas
               </ion-text></ion-col>
           </ion-row>
           <ion-row>
            <ion-col style="background-color: rgb(255, 236, 128);" text-center>
               <ion-text color="dark">
                  {{item.nFaltaA}}
               </ion-text>
               </ion-col>
            <ion-col style="background-color: rgb(252, 107, 107);" text-center>
               <ion-text color="dark">
                  {{item.nFaltaR}}
               </ion-text>
               </ion-col>
         </ion-row>
        </ion-grid>
        
        
        </ion-label>
           </ion-col>
         </ion-row>
      </ion-grid>
     </ion-card>
    
     
 </ion-list>
</ion-content>
