<ion-header>
  <ion-toolbar color="success" >
    <ion-buttons slot="start">
      <ion-back-button text="Atras" defaultHref="/inicio"></ion-back-button>
  </ion-buttons>
  <ion-avatar slot="end"><img src="../assets/icon/logoLiga.png"></ion-avatar>
  <ion-title size="undefined" align="center">Liga Deportiva Cantonal Pillaro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <!--  <ion-grid style="background-color: rgb(215, 247, 142);" *ngFor="lef item of carnets">
    <ion-row>
      <ion-col size="3">
        <img src="../assets/icon/logoLiga.png">
      </ion-col>
      <ion-col size="9" text-center>
       <h3>LIGA DE FÚTBOL PILLARO</h3> 
       <ion-row>
         <ion-col></ion-col>
       </ion-row>
        <ion-row>
          <ion-col text-start size="12">
          CATEGORIA:  {{item.nombre_cate}}
          </ion-col>
         
          <ion-col text-start size="12">
            SERIE: {{item.nombreserie}}
          </ion-col>
           </ion-row>
      </ion-col>
    </ion-row>

    <ion-row style="background-color: rgb(246, 253, 177);" >
   <ion-col size="9">
     <ion-row >
     <ion-col size="5">
       <ion-text>
        EQUIPO: 
       </ion-text>
   </ion-col>  
     <ion-col size="7">
      {{item.nombreequipo}}
     </ion-col>
     
     </ion-row>
           <ion-row >
        <ion-col size="5">
          <ion-text>
            NOMBRES:
          </ion-text>
        </ion-col> 
          <ion-col size="7">
            {{item.nombre1}} {{item.nombre2}}
          </ion-col>
            
       </ion-row>

       <ion-row >
        <ion-col size="5">
          <ion-text>
            APELLIDOS:
          </ion-text>
        </ion-col>
          <ion-col size="7">
            {{item.apellido1}} {{item.apellido2}}
         
        </ion-col>
       </ion-row>

      <ion-row >
        <ion-col size="5">
          <ion-text>
            C.I.:
          </ion-text>
        </ion-col>
          <ion-col size="7">
            {{item.cedula}}
         
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col size="5">
          <ion-text>
            FECHA DE NACIMIENTO:
          </ion-text>
        </ion-col>
          <ion-col size="7">
            {{item.fechadenacimiento}}
         </ion-col>
       </ion-row>   

    </ion-col>
    <ion-col size="3">
      <ion-row size="5">
        
          <img style="height: 80px;"  src="data:image/png;base64,{{imagenqr}}"/>
        </ion-row>
        <br>
        <ion-row>

       
          <ion-img style="height: 100px;" [src]="url+item.fotos"></ion-img>
        
      </ion-row>
      
     
    </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
